[submodule "Drivers/Plume/2026_C_AV_PLUME"]
	path = Drivers/Plume/2026_C_AV_PLUME
	url = https://github.com/EPFLRocketTeam/2026_C_AV_PLUME.git
[submodule "Drivers/Capsule"]
	path = Drivers/Capsule
	url = git@github.com:EPFLRocketTeam/2024_C_AV-GS_CAPSULE.git
