# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# useless content
.settings
.mxproject

Middlewares
USB_DEVICE
Core/Inc/stm32h7xx_hal_conf.h
Core/Inc/stm32h7xx_it.h
Core/Src/stm32h7xx_hal_msp.c
Core/Src/stm32h7xx_it.c
Core/Src/system_stm32h7xx.c
Core/Src/stm32h7xx_hal_timebase_tim.c
Debug
Release

# cmake build directory
build
.vscode
